<%- include('partials/header') %>

<h2 class="mb-4">Listado de alumnos</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>DNI</th>
      <th>Edad</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% alumnos.forEach(alumno => { %>
      <tr>
        <td><%= alumno.nombre %> <%= alumno.apellidos %></td>
        <td><%= alumno.dni %></td>
        <td><%= alumno.edad %></td>
        <td><%= alumno.telefono %></td>
        <td>
          <a href="/alumnos/matricular/<%= alumno.alumno_id %>" class="btn btn-sm btn-primary">Matricular</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer') %>
